
@import url("https://fonts.cdnfonts.com/css/monument-extended");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
